:root {
  --primary-color: #da291c;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}

h2 {
  font-size: xx-large;
}

h2,
h3 {
  margin: 0;
  margin-bottom: 0.25em;
}

p {
  font-size: larger;
}

.navBarTop {
  background-color: var(--primary-color);
  width: 100%;
  right: 0;
  justify-content: right;
  display: flex;
  padding: 0.25em;
}

.navBarBody {
  background-color: white;
}

.page-content {
  margin: 1.5em;
}

#footer {
  width: 100%;
  padding: 1.25% 0;
  background-color: var(--primary-color);
  color: white;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

/* @media screen and (max-width: 750px) {
  .page-content {
    margin-bottom: 7em;
  }

  #footer {
    position: relative;
  }
} */

.text-container {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
}

.title {
  font-weight: 900;
  color: transparent;
  font-size: 120px;
  background: url("../../public/rainbow-nebula.jpg") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position: relative;
  text-align: center;
  line-height: 90px;
  letter-spacing: -8px;
}

.subtitle {
  text-align: center;
  padding-top: 20px;
}

.redirection{
  text-align: center;
}

.redirection a{
  color: var(--primary-color);
}
